<% @items.each do |item| %>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <%= link_to item_path(item, no_quiz: true), class: "stretched-link text-reset text-decoration-none" do %>
          <div class="card-body">
            <p><%== item.text_1.blank? ? "&nbsp;" : item.text_1 %></p>
            <hr/>
            <p><%== item.text_2.blank? ? "&nbsp;" : item.text_2 %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>