<div id="page-landing" class="center-align">
  <div class="d-grid">
    <%= link_to "Start", next_items_path, class: "btn btn-lg btn-primary mb-3" %>
  </div>

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <% Item::LEVEL_COUNT.times.each do |level| %>
        <div class="text-bg-light text-start mb-3 p-2 rounded">
          Level <%= level %>

          <span class="badge text-bg-success">
            <%= @counts_waiting_answer_by_level[level] %> left today
          </span>

          <span class="badge text-bg-danger text-end float-end">
            <%= @counts_by_level[level] %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
