#edit-email-pwd-page {
  form {
    margin-top: 2rem;
  }

  input[type=submit] {
    margin-top: 2rem;
  }
}

#cancel-account-page {
  margin-top: 2rem;

  input[type=submit] {
    margin-top: 2rem;
  }
}