<main id="homepage" class="center-align">
  <h1>VOKAB</h1>

  <h2>Never forget your vocabulary again</h2>

  <div class="main-btns">
    <%= link_to "Sign up", new_user_registration_path, class: 'btn-large center-align' %>
    <%= link_to "Sign in", new_user_session_path, class: 'btn-large center-align' %>
  </div>
</main>
