<footer class="page-footer indigo lighten-5">
  <div class="footer-copyright">
    <div class="container center-align">
      <a class="black-text" href="mailto: contact@vokab.io" target="_blank">Contact</a>
    </div>
  </div>
</footer>